{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block content %}

   <main id="main">

        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>Timer</h2>
            </div>
        </div>

        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
                <iframe style="border:0; width: 100%; height: 1000px;"
                        src="https://cuckoo.team/"
                        frameborder="0">Loading…
                </iframe>
            </div>
        </section>

    </main>

{% endblock content %}