{% extends 'base.html' %}

{% block content %}

<main id="main">

    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Badge Claim Forms</h2>
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'reward' %}">Rewards</a></li>
                    <li>Badge Claim Forms</li>
                </ol>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container" data-aos="fade-up">


            
            <div class="row">
                {% for form in forms %}
                    <div class="col-lg-3 mb-4">
                        <a href="{% url 'badge_claim_form' pk=form.id %}" class="">
                            <div class="card border-danger">
                                <img src="" alt="">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title ">{{ form.title }}</h5>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>


</main>

{% endblock content %}