{% extends 'base.html' %}

{% block content %}

    <main id="main">

        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Badge Claim Forms</h2>
                    <ol>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'reward' %}">Rewards</a></li>
                        <li>Badge Claim Forms</li>
                    </ol>
                </div>
            </div>
        </section>

        <section class="">
            <div class="container" data-aos="fade-up">

                <div class="card" >
                    <ol class="list-group list-group-flush">
                        {% for form in forms %}
                            <a class="list-group-item list-group-item-action fw-bold text-danger"
                                    href="{% url 'badge_claim_form' pk=form.id %}">{{ form.title }}</a>
                        {% endfor %}
                    </ol>
                </div>

            </div>
        </section>


    </main>

{% endblock content %}
