{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load my_tags %}

{% block main_style %}
    <link href="{% static 'assets/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/utils.js' %}"></script>
{% endblock main_style %}

{% block content %}

    <main id="main">

        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Badges</h2>
                    <ol>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'reward' %}">Badges</a></li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs -->


        <section id="" class="profile blog">
            <div class="container" data-aos="fade-up">
                <p class="mb-2">
                    <button class="btn btn-danger " type="button" data-toggle="collapse"
                            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Filter options <span class="icofont-arrow-down"></span>
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body mb-3">
                        <form method="GET" class="mb-3" class="form-inline">

                            {{ reward_filter.form | crispy }}

                            <button class="btn btn-block btn-danger" type="submit">Filter</button>
                        </form>
                    </div>
                </div>
                <div class="row" data-aos="zoom-in" data-aos-delay="100">

                    <div class="col-lg-12">
                        <div class="card mb-4 p-0">
                            <div class="card-header py-3">
                                <p class="font-weight-bold p-0 m-0 text-center text-uppercase underline highlight_text">
                                    Rewards</p>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table  table-hover table-striped table-bordered table-condensed table-sm">
                                        <thead>
                                        <tr class="font-weight-bold">
                                            <th style="min-width:150px">Date and Time</th>
                                            <th>Badge</th>
                                            <th style="min-width:200px">Description</th>
                                            <th style="min-width:160px">User</th>
                                            <th style="min-width:100px">Awarded by</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for reward in query %}
                                            <tr>
                                                <td class="font-weight-bold">
                                                    {{ reward.timestamp | date:"d-M f a" }}
                                                </td>
                                                <td>
                                                    <div class="media align-items-center">
                                                        <img src="{{ reward.badges.logo.url }}" loading="lazy"
                                                             width="50" alt="" title="{{ reward.badges.title }}">
                                                    </div>
                                                </td>
                                                <td>
                                                    <details>
                                                        <summary
                                                                class="font-weight-bold">{{ reward.badges.title }}
                                                            ({{ reward.badges.points }})
                                                        </summary>
                                                        <p>{{ reward.description }}</p>
                                                    </details>
                                                </td>


                                                <td>
                                                    <div class="media align-items-center">
                                                        <a href="{{ reward.user.profile.get_absolute_url }}"
                                                           class="avatar rounded-circle mr-3">
                                                            <img src="{{ reward.user.profile.image.url }}"
                                                                 alt="{{ reward.user.username }}"
                                                                 title="{{ reward.user.username }}">
                                                        </a>
                                                        <div class="media-body">
                                                            <a href="{{ reward.user.profile.get_absolute_url }}"><span
                                                                    class="mb-0 text-sm font-weight-bold">
                                                                {% if reward.user.profile.name %}
                                                                    {{ reward.user.profile.name }}
                                                                {% else %}
                                                                    {{ reward.user.username }}
                                                                {% endif %}
                                                            </span></a>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td><p>{{ reward.awarded_by }}</p></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="blog-pagination">
                        <ul class="justify-content-center">
                            {% if query.has_previous %}
                                <li><a href="?page=1">First</a></li>
                                <li><a href="?{{ page_request_var }}={{ query.previous_page_number }}">Previous</a></li>
                            {% endif %}

                            {% for num in query.paginator.page_range %}
                                {% if query.number == num %}
                                    <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                                {% elif num > query.number|add:'-3' and num < query.number|add:'3' %}
                                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if query.has_next %}
                                <li><a href="?page={{ query.next_page_number }}">Next</a></li>
                                <li><a href="?page={{ query.paginator.num_pages }}">Last</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->


{% endblock content %}

{% block script %}
    <script src="{% static 'assets/js/sb-admin-2.min.js' %}"></script>
{% endblock %}