{% extends 'base.html' %}
{% load static %}

{% block loader %}
   <div id="preloader">
  <img src="{% static 'assets/img/2x-plain.gif' %}" class="img-fluid">
  </div>
{% endblock loader %}


{% block content %}

    <main id="main">

        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>{{title}}</h2>
            </div>
        </div>

        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
                {{poll.embed_tag | safe}}
            </div>
        </section>

    </main>

{% endblock content %}
