{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs " data-aos="fade-in" >
            <div class="container text-center">                
                <div class="text-center over-image" > 
                 <!-- <h2>{{ error_no }}</h2> -->
                <h3>{{ error_detail }}</h3>
                <p class="mb-3 mt-1">It looks like you found a glitch in the matrix...</p>
                <button class="btn btn-outline-danger" href="{% url 'home' %}">&larr; Back to Home page</button>
                </div>
               
                <img class="illustration img-fluid" src="{% static 'assets/img/404_illustration.png' %}" class="w-50 " alt="">

                

            </div>
        </div><!-- End Breadcrumbs -->

    </main>

{% endblock content %}