{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>Events</h2>
            </div>

            <p>{{ event.title }}</p>

        </div><!-- End Breadcrumbs -->

        <!-- ======= Events Section ======= -->
        <section id="events" class="events">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    {% for event in event_list %}
                        <div class="col-md-6 d-flex align-items-stretch">
                            <div class="card">
                                <div class="card-img">
                                    <img src="{{ event.poster.url }}" alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="">{{ event.title }}</a></h5>
                                    <p class="font-italic text-center">{{ event.date_and_time }}</p>
                                    <p class="card-text">{{ event.content }}</p>
                                    <div class="text-center">
                                        {% if user.is_authenticated %}

                                            <a href="{{ event.link }}" class="get-started-btn text-center">Meeting
                                                Link</a>
                                        {% else %}
                                            <a href="#" class="get-started-btn" data-toggle="modal"
                                               data-target="#emailModal">Request Link</a>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>


            </div>
        </section><!-- End Events Section -->

        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="emailModalLabel">Request Meeting Link</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-email" class="col-form-label">Email:</label>
                                <input type="email" class="form-control" id="recipient-email" name="email">
                                <label for="recipient-name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="recipient-name" name="name">
                                <label for="event" class="my-1 mr-2">Choose a Event:</label>
                                <select name="event" id="event" class="custom-select my-1 mr-sm-2">
                                    <option value="Oratoria">Oratoria</option>
                                    <option value="Fire side chat">Fire side chat</option>
                                </select>
                                <label for="recipient-batch" class="my-1 mr-2">VKSSF Batch:</label>
                                <select name="batch" id="recipient-batch" class="custom-select my-1 mr-sm-2">
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main><!-- End #main -->

{% endblock content %}