{% extends 'base.html' %}

{% block content %}

    <main id="main">

        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>Work from WKC</h2>
            </div>
        </div>

        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
                <iframe style="border:0; width: 100%; height: 1500px;" src="https://docs.google.com/forms/d/e/1FAIpQLSe4G0OywcTGletFPlf4Muh4ZjEvhDgcQnEXBHrWE0aYHIF5EA/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        </section>

    </main>

{% endblock content %}
