{% extends 'base.html' %}

{% block content %}

    <main id="main">

        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>Book Lovers</h2>
            </div>
        </div>

        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
                <iframe style="border:0; width: 100%; height: 1150px;"
                        src="https://docs.google.com/forms/d/e/1FAIpQLSdoqbU8eGUuPainizxi6cgZqiyitwVi5hXWYuYb1u6h-aCscg/viewform?embedded=true"
                        frameborder="0">Loading…
                </iframe>

            </div>
        </section>

    </main>

{% endblock content %}
