{% extends 'base.html' %}

{% block content %}

    <main id="main">

        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>KT Attendee Feedback Form</h2>
            </div>
        </div>

        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
                <iframe style="border:0; width: 100%; height: 1300px;"
                        src="https://docs.google.com/forms/d/1NzQdydNeQywM5SX0uARMGTP_UFTuJCz0KyobaAC4zkw/viewform?embedded=true"
                        frameborder="0">Loading…
                </iframe>

            </div>
        </section>

    </main>

{% endblock content %}
