{% extends 'base.html' %}

{% block content %}

    <main id="main">

        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>KT Giver</h2>
            </div>
        </div>

        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
                <iframe style="border:0; width: 100%; height: 1300px;"
                        src="https://docs.google.com/forms/u/0/d/e/1FAIpQLSd7ptwyiOf9LWH9ix9eXtBVS-dSGVCYqsLxoI1OlQznnbZjBQ/viewform?embedded=true"
                        frameborder="0">Loading…
                </iframe>
            </div>
        </section>

    </main>

{% endblock content %}
