{% extends 'base.html' %}
{% load static %}
{% block style %}
    <style>
        .delete-button {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
        }
        .modal-backdrop {
        z-index: -1;
        }

    </style>
{% endblock style %}


{% block content %}
    <div class="modal fade" id="postdeletemodal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog  modal-dialog-centered" role="document" >
                                    <div class="modal-content">
                                        <div class="modal-header bg-danger text-white">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Delete the Post - {{post.title}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure to delete the blog?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <a href="{% url 'blog-delete' id=post.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
    <main id="main">


            <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{ post.title | truncatechars:20}}</h2>
           {% if user.is_authenticated %}
                <a href="{% url 'blog-create' %}">
                    <button class="btn btn-danger btn-sm mt-2" type="button">
                        Create a Post
                    </button></a>
            {% endif %}

          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
             <li><a href="{% url 'blog' %}">Blogs</a></li>
             <li>{{ post.title | truncatechars:20}}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

        <!-- ======= Blog Section ======= -->
        <section id="blog" class="blog">
            <div class="container">

                <div class="row">

                    <div class="col-lg-8 entries" data-aos="fade-up">

                        <article class="entry entry-single">

                            <div class="entry-img text-center">
                                <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" title="{{ post.title }}"
                                     class="img-fluid">
                            </div>

                            <h2 class="entry-title">
                                <a>{{ post.title }}</a>
                            </h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="bx bxs-user"></i> <a
                                        href="{% url 'user-posts' id=post.author.user.id %}">{{ post.author.user.profile.name }}</a>
                                    </li>
                                    <li class="d-flex align-items-center"><i class="bx bx-time"></i> <a href="">
                                        <time datetime="2020-01-01">{{ post.timestamp| date }}</time>
                                    </a></li>
                                    <li class="d-flex align-items-center"><i class="bx bxs-comment"></i> <a
                                            href="">{{ post.comments.count }}</a></li>
                                    {% if post.author == request.user.profile %}
                                        <li class="d-flex align-items-center"><i class="bx bx-edit"></i> <a
                                                href="{% url 'blog-update' id=post.id %}">Update</a></li>
                                        <li class="d-flex align-items-center">
                                            <button type="button" class="delete-button" data-backdrop="false" data-toggle="modal"
                                                    data-target="#postdeletemodal"><i class="bx bx-x"></i>Delete
                                            </button>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>

                            <div class="entry-content">
                                {{ post.content | safe }}
                            </div>

                            <div class="entry-footer clearfix">
                                <div class="float-left">
                                    <i class="bx bxs-folder"></i>
                                    <ul class="cats">
                                        {% for cat in post.categories.all %}

                                            <li><a href="{% url 'category' category=cat %}">{{ cat }}</a></li>

                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="sharethis-inline-reaction-buttons"></div>
                        </article><!-- End blog entry -->

                        <div class="sharethis-inline-share-buttons"></div>
                        <div class="blog-comments">

                            <h4 class="comments-count">{{ post.comments.count }} Comments</h4>
                            {% for comment in post.get_comments %}
                                <div id="comment-1" class="comment clearfix">
                                    <img src="{{ comment.user.profile.image.url }}" class="comment-img  float-left"
                                         alt="">
                                    <h5><a href="">{{ comment.user.username }}</a></h5>
                                    <time datetime="2020-01-01">{{ comment.timestamp | timesince }} ago</time>
                                    <p>
                                        {{ comment.content }}
                                    </p>
                                </div>
                            {% endfor %}

                            {% if request.user.is_authenticated %}
                                <div class="reply-form">
                                    <h4>Leave a Reply</h4>
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col form-group">
                                                {{ form }}
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Post Comment</button>
                                    </form>

                                </div>
                            {% endif %}

                        </div><!-- End blog comments -->

                    </div><!-- End blog entries list -->


                    <div class="col-lg-4" data-aos="fade-up">

                        <div class="sidebar">

                            <h3 class="sidebar-title">Search</h3>
                            <div class="sidebar-item search-form">
                                <form action="{% url 'search' %}">
                                    <input type="text" name="q">
                                    <button type="submit"><i class="bx bx-search"></i></button>
                                </form>

                            </div><!-- End sidebar search formn-->

                            <h3 class="sidebar-title">Categories</h3>
                            <div class="sidebar-item categories">
                                <ul>
                                    {% for cat in category_count %}
                                        <li>
                                            <a href="{% url 'category' category=cat.categories__title %}">{{ cat.categories__title }}
                                                <span>({{ cat.categories__count }})</span></a></li>
                                    {% endfor %}
                                </ul>

                            </div><!-- End sidebar categories-->

                            <h3 class="sidebar-title">Recent Posts</h3>
                            <div class="sidebar-item recent-posts">
                                {% for post in most_recent %}
                                    <div class="post-item clearfix">
                                        <img src="{{ post.thumbnail.url }}" alt="">
                                        <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                                        <time datetime="{{ post.timestamp | date }}">{{ post.timestamp | date }}</time>
                                    </div>
                                {% endfor %}
                            </div><!-- End sidebar recent posts-->
                        </div><!-- End sidebar -->

                    </div><!-- End blog sidebar -->

                </div>

            </div>
        </section><!-- End Blog Section -->


    </main>

{% endblock content %}

{% block script %}

    <script>
    $('#postdeletemodal').on('hide.bs.modal', function (e) {
        console.log("hide called")
        $('#main').css("opacity","1")
        $("#footer").css("opacity","1")
})
    $('#postdeletemodal').on('show.bs.modal', function (e) {
        console.log("show called")
        $('#main').css("opacity","0.2")
        $('#footer').css("opacity","0.2")
})
</script>


    <script type='text/javascript'
            src='https://platform-api.sharethis.com/js/sharethis.js#property=5fabf3b1413ed100120cd977&product=sop'
            async='async'></script>
{% endblock %}