{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block content %}
    <main id="main">
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <h2>{% trans "Category list" %}</h2>
            </div>
        </section>

        <section id="" class="">
            <div class="container">
            <h3>Select the category</h3>
                <ul>
                    {% for cat in category_list %}
                        <li>
                            <a href="{% url 'quiz_category_list_matching' category_name=cat.category %}">
                                {{ cat.category }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
{% endblock %}
