{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load quiz_tags %}
{% block title %}
    {% trans "Result of" %} {{ sitting.quiz.title }} {% trans "for" %} {{ sitting.user }}
{% endblock %}

{% block content %}
    <main id="main">

        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>{% trans "Quiz title" %}: {{ sitting.quiz.title }}</h2>
                    <h3>{% trans "Category" %}: {{ sitting.quiz.category }}</h3>

                    <ol>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'quiz_index' %}">Practice</a></li>
                        <li>
                            <a href="{% url 'quiz_category_list_matching' category_name=sitting.quiz.category %}">{{ sitting.quiz.category }}</a>
                        </li>
                        <li>{{ sitting.quiz.title }}</li>
                    </ol>
                </div>
            </div>
        </section>

        <section id="" class="">
            <div class="container">

                <div class="card bg-light bg-gradient mb-3" style="width:100%">
                    <div class="card-header">{{ sitting.quiz.description | safe }}</div>
                    <div class="card-body">
                        <h5 class="card-title">{% trans "User" %}: {{ sitting.user }}</h5>
                        <h5 class="card-title">{% trans "Completed" %}: {{ sitting.end|date }}</h5>
                        <h5 class="card-title">{% trans "Score" %}: {{ sitting.get_percent_correct }} %</h5>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header py-3">
                        <p class="font-weight-bold p-0 m-0 text-center text-uppercase underline highlight_text">
                            Quiz details</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table  table-hover table-striped table-bordered table-primary">


                                <thead>
                                <tr>
                                    <th>{% trans "Question" %}</th>
                                    <th>{% trans "User answer" %}</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for question in questions %}

                                    <tr>
                                        <td>
                                            {{ question.content }}
                                            {% if question.figure %}
                                                <div style="max-width: 100px;"><img src="{{ question.figure.url }}"
                                                                                    class="img img-fluid img-thumbnail"
                                                                                    alt="{{ question.figure }}"/></div>
                                            {% endif %}
                                        </td>
                                        <td>{{ question|answer_choice_to_string:question.user_answer }}</td>
                                        <td>
                                            {% if question.id in sitting.get_incorrect_questions %}
                                                <p>{% trans "incorrect" %}</p>
                                            {% else %}
                                                <p>{% trans "Correct" %}</p>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <form action="" method="POST">{% csrf_token %}
                                                <input type=hidden name="qid" value="{{ question.id }}">
                                                <button type="submit"
                                                        class="btn btn-dark btn-sm">{% trans "Toggle whether correct" %}</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}


{% block script %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock script %}