{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <main id="main">
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <h2>{% trans "Quizzes related to " %} <strong>{{ category.category }} </strong>{% trans "category" %}</h2>
            </div>
        </section>

        <section id="" class="">
            <div class="container">
                <h3>Select the Quiz</h3>
                {% with object_list as quizzes %}
                    {% if quizzes %}
                        <ul>
                            {% for quiz in quizzes %}
                                <li>
                                    <a href="{% url 'quiz_question' quiz_name=quiz.url %}">
                                        {{ quiz.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>{% trans "There are no quizzes available in this category" %}</p>
                    {% endif %}
                {% endwith %}
            </div>
        </section>
    </main>
{% endblock %}
