{% extends 'base.html' %}
{% load static %}
 {% load crispy_forms_filters %} {%
load crispy_forms_tags %} {% load humanize %}

{% block content %}
    <main id="main">

        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Create New Objective</h2>

                    <ol>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'okr-view-data' %}">OKR</a></li>
                        <li>Create New Objective</li>
                    </ol>
                </div>
            </div>
        </section>

        <section id="" class="">
            <div class="container">

            </div>
        </section>
    </main>
{% endblock %}
