{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>About Us</h2>
            </div>
        </div><!-- End Breadcrumbs -->

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">

                    <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                        <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
                        <a href="https://youtu.be/3pDMLt4m7TU" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                    </div>

                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>SUSHIKSHA, Mentorship Programme.</h3>
                        <p class="font-italic">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.
                        </p>
                        <ul>
                            <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                            <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                            <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                        </ul>
                        <p>
                            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        </p>

                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Gallery Section ======= -->
        <section id="gallery">

            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Gallery</h2>
                    <p>Check photos from the recent events</p>
                </div>

            </div>

            <div class="owl-carousel gallery-carousel" data-aos="fade-up" data-aos-delay="100">
                <a href="{% static 'assets/img/about.jpg' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'assets/img/about.jpg' %}" alt=""></a>
                <a href="{% static 'assets/img/about.jpg' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'assets/img/about.jpg' %}" alt=""></a>
                <a href="{% static 'assets/img/about.jpg' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'assets/img/about.jpg' %}" alt=""></a>
                <a href="{% static 'assets/img/about.jpg' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'assets/img/about.jpg' %}" alt=""></a>
                <a href="{% static 'assets/img/about.jpg' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'assets/img/about.jpg' %}" alt=""></a>
                <a href="{% static 'assets/img/about.jpg' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'assets/img/about.jpg' %}" alt=""></a>
                <a href="{% static 'assets/img/about.jpg' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'assets/img/about.jpg' %}" alt=""></a>
                <a href="{% static 'assets/img/about.jpg' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'assets/img/about.jpg' %}" alt=""></a>
            </div>

        </section><!-- End Gallery Section -->




    </main>

{% endblock content %}