{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block style %}
    <head>
        <link href="{% static 'assets/vendor/fstdropdown/fstdropdown.css' %}" rel="stylesheet">
    </head>
{% endblock style %}

{% block content %}

    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>{{ heading }}</h2>
            </div>
        </div><!-- End Breadcrumbs -->


        <section id="about" class="container">
            <div class="container" data-aos="fade-down">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form | crispy}}
                        <button type="submit" class="btn btn-block get-started-btn-special">Submit</button>
                    </form>
                </div>
            </div>
        </section><!-- End About Section -->

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us" data-aos="fade-in">
            <div class="container" >

                <div class="row">
                    <div class="col-lg-4 d-flex align-items-stretch">
                        <div class="content">
                            <h3>Why give a badge?</h3>
                            <p>
                                Badges are a symbol of recognition for a work done. It signifies the amount of hard work one has put behind a particular task and hence plays a crucial role in uplifting the efforts. Give badges as small token of gestures to those hard working members of Sushiksha
                            </p>
                            <h3>Rules for giving badge</h3>
                            <ul>
                                <li>You cannot give a badge to yourself.</li>
                                <li>Give badge only when you feel the person deserves it.</li>
                                <li>The badges with '*' can be given only by the mentors.</li>
                      </ul>
                        </div>
                    </div>
                    <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-boxes d-flex flex-column justify-content-center">
                            <div class="row">
                                {% for badge in badges %}
                                    <div class="col-xl-4 col-6 d-flex align-items-stretch">
                                        <div class="icon-box mt-4 mt-xl-0">
                                            <img class="rounded" width="90%" src="{{ badge.logo.url }}" alt="{{ badge.title }}" title="{{ badge.title }}">
                                            <hr>
                                            <h4 class="h4">{{ badge.title }}
                                            {% if badge.featured %}
                                                <span class="text-muted">* Mentors only</span>
                                            {% endif %}
                                            </h4>

                                            <p>{{ badge.description }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div><!-- End .content-->
                    </div>
                </div>

            </div>
        </section><!-- End Why Us Section -->




    </main>

{% endblock content %}

{% block script %}
    <script src="{% static 'assets/vendor/fstdropdown/fstdropdown.js' %}"></script>
{% endblock %}