{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>Blog</h2>
            </div>
        </div><!-- End Breadcrumbs -->

        <!-- ======= Blog Section ======= -->
        <section id="blog" class="blog">
            <div class="container" >

                <div class="row" >

                    <div class="col-lg-8 entries" data-aos="fade-up">

                        <article class="entry entry-single">

                            <div class="entry-img">
                                <img src="{{post.thumbnail.url}}" alt="" class="img-fluid">
                            </div>

                            <h2 class="entry-title">
                                <a>{{ post.title }}</a>
                            </h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="{{ post.author.get_absolute_url }}">{{ post.author.user.username }}</a></li>
                                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{ post.timestamp| date }}</time></a></li>
                                    <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">{{ post.comments.count }}</a></li>
                                    {% if post.author == request.user.profile %}
                                        <li class="d-flex align-items-center"><i class="icofont-edit"></i> <a href="{% url 'blog-update' id=post.id %}">Update</a></li>
                                        <li class="d-flex align-items-center"><i class="icofont-delete"></i> <a href="{% url 'blog-delete' id=post.id %}">Delete</a></li>
                                    {% endif %}
                                </ul>
                            </div>

                            <div class="entry-content">
                                {{ post.content | safe }}
                            </div>

                            <div class="entry-footer clearfix">
                                <div class="float-left">
                                    <i class="icofont-folder"></i>
                                    <ul class="cats">
                                        {% for cat in post.categories.all %}
                                            <li><a href="#">{{ cat }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        </article><!-- End blog entry -->


                        <div class="blog-comments">

                            <h4 class="comments-count">{{ post.comments.count }} Comments</h4>
                            {% for comment in post.get_comments %}
                                <div id="comment-1" class="comment clearfix">
                                    <img src="{{ comment.user.profile.image.url }}" class="comment-img  float-left" alt="">
                                    <h5><a href="">{{ comment.user.username }}</a></h5>
                                    <time datetime="2020-01-01">{{ comment.timestamp | timesince }} ago</time>
                                    <p>
                                        {{ comment.content }}
                                    </p>
                                </div>
                            {% endfor %}

                            {% if request.user.is_authenticated %}
                                <div class="reply-form">
                                    <h4>Leave a Reply</h4>
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col form-group">
                                                {{ form }}
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Post Comment</button>
                                    </form>

                                </div>
                            {% endif %}

                        </div><!-- End blog comments -->

                    </div><!-- End blog entries list -->


                    <div class="col-lg-4" data-aos="fade-up">

                        <div class="sidebar">

                            <h3 class="sidebar-title">Search</h3>
                            <div class="sidebar-item search-form">
                                <form action="{% url 'search' %}">
                                    <input type="text" name="q">
                                    <button type="submit"><i class="icofont-search"></i></button>
                                </form>

                            </div><!-- End sidebar search formn-->

                            <h3 class="sidebar-title">Categories</h3>
                            <div class="sidebar-item categories">
                                <ul>
                                    {% for cat in category_count %}
                                        <li><a href="#">{{ cat.categories__title }} <span>({{ cat.categories__count }})</span></a></li>
                                    {% endfor %}
                                </ul>

                            </div><!-- End sidebar categories-->

                            <h3 class="sidebar-title">Recent Posts</h3>
                            <div class="sidebar-item recent-posts">
                                {% for post in most_recent %}
                                    <div class="post-item clearfix">
                                        <img src="{{ post.thumbnail.url }}" alt="">
                                        <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                                        <time datetime="2020-01-01">{{post.timestamp | date}}</time>
                                    </div>
                                {% endfor %}
                            </div><!-- End sidebar recent posts-->
                        </div><!-- End sidebar -->

                    </div><!-- End blog sidebar -->

                </div>

            </div>
        </section><!-- End Blog Section -->


    </main>

{% endblock content %}