{% load static %}
<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Sushiksha</h3>
                    <p>
                        Lobo Prabhu Nagar - Konkani Gaon <br>
                        Mangalore, Karnataka 575016<br>
                        India <br><br>
                        <strong>Email:</strong> sushikshawkc@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About us</a></li>
                        {#              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'events' %}">Events</a></li>#}
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Websites</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://vkssfalumni.com/" target="_blank">VKSSF
                            Alumni</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="http://vishwakonkani.org/"
                                                                   target="_blank">WKC</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>An Initiative by</h4>
                    <img src="{% static 'assets/img/wkc_logo.png' %}" alt="WKC LOGO" width="80%">

                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                &copy; Copyright <strong><span>Sushiksha</span></strong>. All Rights Reserved
            </div>
            {#        <div class="credits">#}
            {#          Designed by <a href="https://inkdrops.in/">Inkdrops</a>#}
            {#        </div>#}
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://twitter.com/SushikshaWkc" class="twitter" target="_blank"><i
                    class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/vkssfalumni/" class="facebook" target="_blank"><i
                    class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/vkssf_alumni/" class="instagram" target="_blank"><i
                    class="bx bxl-instagram"></i></a>
            <a href="mailto:sushikshawkc@gmail.com" class="google-plus" target="_blank"><i class="bx bxs-envelope"></i></a>
            <a href="https://www.linkedin.com/company/sushiksha/" class="linkedin" target="_blank"><i
                    class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

