{% load static %}
{# Essential META Tags #}

<meta property="og:title" content="Sushiksha">
<meta content="Sushiksha, Sophists, World Konkani Centre, WKC, VKSSF, Vishwa Konkani" name="keywords">
<meta name="author" content="Praneeth">
<meta property="og:description" content="Sushiksha is an initiative by VKSSF Alumni Association to create a platform for VKSSF Scholars to realize their potential by enabling personal and professional relationships with VAA members who have succeeded in the path of their chosen career. They will act as role models and provide guidance to the Students (Mentees).">
<meta property="og:image" content="{% static 'assets/img/sushikshalogo.png' %}">
<meta property="og:url" content="{% url 'home' %}">
<meta name="twitter:card" content="Sushiksha an initiative by VKSSF Alumni">


{#  Non-Essential, But Recommended#}

<meta property="og:site_name" content="Sushiksha.">
<meta name="twitter:image:alt" content="Sushiksha logo">
