{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>Profile</h2>
            </div>
        </div><!-- End Breadcrumbs -->

        <!-- ======= Contact Section ======= -->
        <section id="" class="">
            <div class="profile container" data-aos="fade-up">
                <div class="row">
                    <div class="col-md-4">
                        {% if user.profile.role %}
                            <div class="card mb-4 featured-mentor">
                        {% else %}
                            <div class="card mb-4">
                        {% endif %}
                        <div class="card-body ">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{ user.profile.image.url }}" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4 class="h4">{{ user.username }}</h4>
                                    {% if user.profile.role %}
                                        <p class="text-secondary mb-1">Mentor</p>
                                    {% else %}
                                        <p class="text-secondary mb-1">Mentee</p>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="row">
                                {% if user.profile.teams_set.first %}
                                <div class="col-6 mt-1 mb-0 text-justify">
                                    <p class="font-weight-bold">Team: <a href="{{ user.profile.get_team_url }}">{{ user.profile.get_team_name  }}</a></p>
                                </div>
                                <div class="col-6 text-justify">
                                    <p class="font-weight-bold">House: <a href="{{ user.profile.get_house_url }}">{{ user.profile.get_house_name  }}</a></p>
                                </div>
                                {% endif %}

                                <div class="col-6 mt-1 text-justify">
                                    <p class="font-weight-bold">Badges: {{ user.profile.get_number_of_badges }}</p>
                                </div>
                                <div class="col-6 mt-1 text-justify">
                                    <p class="font-weight-bold">Points: {{ user.profile.get_point }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="social-links text-center  pt-1 pt-md-0 text-center">
                                {% if user.profile.instagram %}
                                    <a href="{{ user.profile.instagram }}" target="_blank"><i class="bx bxl-instagram bx-burst-hover bx-lg"></i></a>
                                {% endif %}
                                {% if user.profile.twitter %}
                                    <a href="{{ user.profile.twitter }}" target="_blank"><i class="bx bxl-twitter bx-burst-hover bx-lg"></i></a>
                                {% endif %}
                                {% if user.profile.linkedin %}
                                    <a href="{{ user.profile.linkedin }}" target="_blank"><i class="bx bxl-linkedin bx-burst-hover bx-lg"></i></a>
                                {% endif %}
                                {% if user.profile.github %}
                                    <a href="{{ user.profile.github }}" target="_blank"><i class="bx bxl-github bx-burst-hover bx-lg"></i></a>
                                {% endif %}
                                {% if user.email %}
                                    <a href="mailto:{{ user.email }}"><i class="bx bxs-envelope bx-burst-hover bx-lg"></i></a>
                                {% endif %}
                                {% if user.profile.okr %}
                                    <a href="{{ user.profile.okr }}" target="_blank"><i class="bx bx-table bx-burst-hover bx-lg"></i></a>
                                {% endif %}
                            </div>
                        </div>
                        </div>
                        </div>

                        <div class="col-md-8">
                            <div id="accordion">

                                <div class="card mb-3">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" data-toggle="collapse" data-target="#Profile" aria-expanded="false" aria-controls="Profile">
                                                View Profile
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="Profile" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            {% if user.profile.name %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Full Name</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-dark">
                                                        {{user.profile.name}}
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endif %}
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Username</h6>
                                                </div>
                                                <div class="col-sm-9 text-dark">
                                                    {{user.username}}
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Email</h6>
                                                </div>
                                                <div class="col-sm-9 text-dark">
                                                    {{user.email}}
                                                </div>
                                            </div>
                                            <hr>
                                            {% if user.profile.phone %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Mobile</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-dark">
                                                        {{user.profile.phone}}
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endif %}
                                            {% if user.profile.phone %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Profession</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-dark">
                                                        {{user.profile.profession}}
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endif %}
                                            {% if user.profile.address %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Address</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-dark">
                                                        {{user.profile.address}}
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endif %}
                                            {% if user.profile.batch %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">VKSSF Batch</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-dark">
                                                        {{user.profile.batch}}
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endif %}
                                            {% if user.profile.college %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">College</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-dark">
                                                        {{user.profile.college}}
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endif %}
                                            {% if user.profile.guidance %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Guidance Fields</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-dark">
                                                        {{user.profile.guidance}}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <div class="row pricing">
                                            {% for badge, count in badges %}
                                                <div class="col-lg-3 col-4 box">
                                                    <h3>{{ badge.badges.title }}</h3>
                                                    <img src="{{ badge.badges.logo.url }}" title="{{ badge.badges.title }}" alt="{{ badge.badges.title }}" width="80%" class="img-rounded">
                                                    <h4>{{ count }}</h4>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% if not user.id == request.user.id %}
                                    <div class="card-footer">
                                        <div class="row badge-row">

                                            <h1 class="lead font-weight-bold text-center">Badges : <a href="{% url 'new-badge' user.id %}">Give a Badge</a></h1>

                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

{% endblock content %}
