{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block main_style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"
          integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
          crossorigin="anonymous"/>
{% endblock main_style %}


{% block content %}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>Profile</h2>
            </div>
        </div><!-- End Breadcrumbs -->

        <!-- ======= Contact Section ======= -->
        <section id="" class="">
            <div class="profile container" data-aos="fade-up">
                <div class="row">
                    <div class="col-md-4">
                        {% if user.profile.role %}
                            <div class="card mb-4 featured-mentor">
                        {% else %}
                            <div class="card mb-4">
                        {% endif %}
                        <div class="card-body ">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{ user.profile.image.url }}" loading="lazy" alt="Admin"
                                     class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4 class="h4">{{ user.username }}</h4>
                                    {% if user.profile.role %}
                                        <p class="text-secondary mb-1">Mentor</p>
                                    {% else %}
                                        <p class="text-secondary mb-1">Mentee</p>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="row">
                                {% if user.profile.teams_set.first %}
                                    <div class="col-6 mt-1 mb-0 text-justify">
                                        <p class="font-weight-bold">Team: <a
                                                href="{{ user.profile.get_team_url }}">{{ user.profile.get_team_name }}</a>
                                        </p>
                                    </div>
                                    <div class="col-6 text-justify">
                                        <p class="font-weight-bold">House: <a
                                                href="{{ user.profile.get_house_url }}">{{ user.profile.get_house_name }}</a>
                                        </p>
                                    </div>
                                {% endif %}

                                <div class="col-6 mt-1 text-justify">
                                    <p class="font-weight-bold">Badges: {{ user.profile.get_number_of_badges }}</p>
                                </div>
                                <div class="col-6 mt-1 text-justify">
                                    <p class="font-weight-bold">Points: {{ user.profile.points }}</p>
                                </div>
                                <!--<div class="col-12 mt-1 text-justify">
                                    <p class="font-weight-bold">Level: {{ user.profile.level }}</p>
                                </div>-->
                                <!--<div class="col-12 mt-1 text-justify">
                                    <p class="font-weight-bold">Total Points: {{ user.profile.total_points }}</p>
                                </div>-->
                                <!--<div class="col-12 mt-1 text-justify">
                                    <p class="font-weight-bold">Stars: {{ user.profile.stars }}</p>
                                </div>-->
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="social-links text-center  pt-1 pt-md-0 text-center">
                                {% if user.profile.instagram %}
                                    <a href="{{ user.profile.instagram }}" target="_blank"><i
                                            class="bx bxl-instagram bx-burst-hover bx-lg"></i></a>
                                {% endif %}
                                {% if user.profile.twitter %}
                                    <a href="{{ user.profile.twitter }}" target="_blank"><i
                                            class="bx bxl-twitter bx-burst-hover bx-lg"></i></a>
                                {% endif %}
                                {% if user.profile.linkedin %}
                                    <a href="{{ user.profile.linkedin }}" target="_blank"><i
                                            class="bx bxl-linkedin bx-burst-hover bx-lg"></i></a>
                                {% endif %}
                                {% if user.profile.github %}
                                    <a href="{{ user.profile.github }}" target="_blank"><i
                                            class="bx bxl-github bx-burst-hover bx-lg"></i></a>
                                {% endif %}
                                {% if user.email %}
                                    <a href="mailto:{{ user.email }}"><i
                                            class="bx bxs-envelope bx-burst-hover bx-lg"></i></a>
                                {% endif %}
                                {% if user.profile.okr %}
                                    <a href="{{ user.profile.okr }}" target="_blank"><i
                                            class="bx bx-table bx-burst-hover bx-lg"></i></a>
                                {% endif %}
                            </div>
                        </div>
                        </div>

                        <div class="card mb-2">
                        <div class="card-body">
                        <div class="row badge-row">
                            {% if not user.id == request.user.id %}
                                <div class='col-12'>
                                    <h1 class="lead font-weight-bold text-start">Badges: <a
                                            href="{% url 'new-badge' user.id %}" class="btn btn-outline-danger btn-sm">Give a
                                        badge
                                        to {{ user.profile.name | truncatechars:10}}</a></h1>
                                </div>
                                <div class='col-12'>
                                    <h1 class="lead font-weight-bold text-end">Blogs: <a
                                            href="{% url 'user-posts' id=user.id %}"
                                            class="btn btn-outline-danger btn-sm">{{ user.profile.name | truncatechars:10}}'s
                                        Blog Posts</a></h1>
                                </div>
                            {% else %}
                                <div class='col-12'>
                                    <h1 class="lead font-weight-bold text-end">Blogs : <a
                                            href="{% url 'user-posts' id=user.id %}"
                                            class="btn btn-outline-danger">{{ user.profile.name | truncatechars:10}}'s
                                        Blog Posts</a></h1>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    </div>

                    <div class="card">
                            <div class="card-header">Points Distribution</div>
                            <div class="card-body">
                                <table class="table table-borderless table-responsive">
                                    <thead>
                                    <tr>
                                        <td>Category</td>
                                        <td>Points</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for cat,count in query_category %}
                                        <tr>
                                            <td>{{ cat }}</td>
                                            <td>{{ count }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>

                        <div class="col-md-8">
                            <div id="accordion">

                                <div class="card mb-3">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <canvas id="myChart" height="200"></canvas>
                                        </div>
                                    </div>
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-outline-danger collapsed" data-toggle="collapse"
                                                    data-target="#Profile" aria-expanded="false"
                                                    aria-controls="Profile">
                                                View Profile
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="Profile" class="collapse" aria-labelledby="headingTwo"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            {% if user.profile.name %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0 text-capitalize">Full Name</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-dark">
                                                        {{ user.profile.name }}
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endif %}
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0 text-capitalize">Username</h6>
                                                </div>
                                                <div class="col-sm-9 text-dark">
                                                    {{ user.username }}
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0 text-capitalize">Email</h6>
                                                </div>
                                                <div class="col-sm-9 text-dark">
                                                    {{ user.email }}
                                                </div>
                                            </div>
                                            <hr>
                                            {% if user.profile.phone %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0 text-capitalize">Mobile</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-dark">
                                                        {{ user.profile.phone }}
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endif %}
                                            {% if user.profile.degree %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0 text-capitalize">Degree</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-dark">
                                                        {{ user.profile.degree }}
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endif %}
                                            {% if user.profile.branch %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0 text-capitalize">Branch</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-dark">
                                                        {{ user.profile.branch }}
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endif %}
                                            {% if user.profile.phone %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0 text-capitalize">Profession</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-dark">
                                                        {{ user.profile.profession }}
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endif %}
                                            {% if user.profile.address %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0 text-capitalize">Address</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-dark">
                                                        {{ user.profile.address }}
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endif %}
                                            {% if user.profile.batch %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0 text-capitalize">VKSSF Batch</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-dark">
                                                        {{ user.profile.batch }}
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endif %}
                                            {% if user.profile.college %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0 text-capitalize">College</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-dark">
                                                        {{ user.profile.college }}
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endif %}
                                            {% if user.profile.guidance %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0 text-capitalize">Guidance Fields</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-dark">
                                                        {{ user.profile.guidance }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center wrapper">
                                        <div class="badge-carousel pricing owl-carousel owl-theme"
                                             data-aos="zoom-in"
                                             data-aos-delay="100">
                                            {% for badge in badges %}
                                                <div class="box">
                                                    <h3>{{ badge.badges__title }}</h3>
                                                    <img src="/media/{{ badge.badges__logo }}" loading="lazy"
                                                         title="{{ badge.badges__title }}"
                                                         alt="{{ badge.badges__title }}"
                                                         width="80%" class="img-rounded">
                                                    <h4>{{ badge.badges__title__count }}</h4>
                                                </div>
                                            {% endfor %}
                                        </div>


                                    </div>
                                </div>

                                <div class="card-footer">
                                    <h1 class="lead text-center ">Badges</h1>
                                    <!--<div class="row badge-row">
                                        <div class='col-6'>
                                            {% if not user.id == request.user.id %}
                                                <h1 class="lead font-weight-bold text-start">Badges : <a
                                                        href="{% url 'new-badge' user.id %}">Give a badge
                                                    to {{ user.profile.name }}</a></h1>
                                            {% endif %}
                                        </div>
                                        <div class='col-6'>
                                            <h1 class="lead font-weight-bold text-end">Blogs : <a
                                                    href="{% url 'user-posts' id=user.id %}">{{ user.profile.name }}'s
                                                Blog Posts</a></h1>
                                        </div>
                                    </div>-->
                                </div>


                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

{% endblock content %}


{% block script %}
    <script src="{% static 'assets/js/utils.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
            crossorigin="anonymous"></script>


    <script>


        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['week 1', 'Week 2', 'Week 3', 'This week'],
                datasets: [

                    {% for category, data, color in data_query %}
                        {
                            label: '{{category}}',
                            data: {{data}},
                            backgroundColor: {{color }},
                            borderColor: {{color }},
                            fill: false,
                            borderWidth: 3
                        },
                    {% endfor %}

                ]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'User Performance'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                animation: {
                    duration: 4000
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        $('.badge-carousel').owlCarousel({
            loop: false,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })

    </script>


{% endblock %}