{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main id="main">
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>{{ query_set.name }}</h2>
            </div>
        </div>

        <section id="schedule" class="section-with-bg">
            <div class="container" data-aos="fade-up">
                <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="team-{{ forloop.counter }}">
                            {% for member in query_set.members.all %}
                                <div class="row schedule-item">
                                    <div class="col-md-2"><h4>{{ forloop.counter }}</h4></div>
                                    <div class="col-md-8">
                                        <div class="speaker">
                                            <img src="{{ member.image.url }}" alt="{{ member.user.username }}" title="{{ member.user.username }}">
                                        </div>
                                        <a href="{{ member.get_absolute_url }}"><h4>{{ member.user.profile.name }} <span>{{ member.get_role }}</span></h4></a>
                                        <p>{{ member.batch }} VKSSF Scholar</p>
                                    </div>
                                <div class="col-md-2">
                                    <h4>Points: {{ member.get_point }}</h4>
                                </div>
                                </div>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </section>
    </main>



{% endblock content %}