{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main id="main">
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>Users</h2>
                <div class="row">
                    <div class="col-lg-8 col-md-7">

                    </div>
                    <div class="col-lg-4 col-md-5 col-11">
                        <div class="search-form ">
                            <form action="{% url 'user-search' %}">
                                <input type="text" name="q">
                                <button type="submit"><i class="bx bx-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section id="team" class="team">
            <div class="container" data-aos="fade-up">

                <div class="row" data-aos="zoom-in" data-aos-delay="100">
                    {% for user in mentee %}
                        <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                            <div class="member ">
                                <div class="member-img">
                                    <img src="{{ user.image.url }}" class="img-fluid" alt="{{ user.user.username }}">
                                    <div class="social">
                                        {% if user.twitter %}
                                            <a href="{{ user.twitter}}" target="_blank"><i class="bx bxl-twitter"></i></a>
                                        {% endif %}
                                        {% if user.facebook %}
                                            <a href="{{ user.facebook }}" target="_blank"><i class="bx bxl-facebook"></i></a>
                                        {% endif %}
                                        {% if user.instagram %}
                                            <a href="{{ user.instagram }}" target="_blank"><i class="bx bxl-instagram"></i></a>
                                        {% endif %}
                                        {% if user.linkedin %}
                                            <a href="{{ user.linkedin }}" target="_blank"><i class="bx bxl-linkedin"></i></a>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="member-info">
                                    {% if user.name %}
                                        <h4><a href="{% url 'user-detail' user.user.id %}">{{ user.name }}</a></h4>

                                    {% else %}
                                        <h4><a href="{% url 'user-detail' user.user.id %}">{{ user.user.username }}</a></h4>
                                    {% endif %}
                                    <span>{{ user.profession }}</span>
                                    {% if request.user.is_authenticated %}
                                        <p>
{#                                            <strong>Email ID: </strong>{{ user.email }}#}
                                            <strong>VKSSF Batch: </strong>{{ user.profile.batch }}
                                        </p>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            </div>
        </section>
    </main>



{% endblock content %}