{% extends 'base.html' %}
{% load static %}

{% block style %}
    <style>
        @media (min-width: 768px) {
            .img-top {
                width: 100%;
                height: 45vh;
                object-fit: cover;
            }
        }

        .wrapping {
            word-wrap: break-word;
            word-break: break-all;
            white-space: pre-wrap;
        }
    </style>
{% endblock style %}


{% block loader %}
 <div id="preloader"></div>
{% endblock loader %}


{% block content %}
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Goodies</h2>
                    <ol>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Goodies</li>
                    </ol>
                </div>
            </div>
        </section>

        <div class="container mt-3">
            <h2 class="ml-auto">My su-Shells : {{ user.profile.suShells }}</h2>
        </div>

        <section id="courses" class="courses">
            <div class="container" data-aos="fade-up">

                <div class="row" data-aos="zoom-in" data-aos-delay="100">
                    {% for query in queryset %}
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-2">
                            <div class="course-item">
                                <img src="{{ query.thumbnail.url }}" class="img-fluid img-top" alt="{{ query.title }}">
                                <div class="course-content">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <a href="{% url 'tag-goodies' tag=query.tag %}" class="card-link text-danger">
                                            {{ query.tag }}
                                        </a>
                                    </div>

                                    <h3>{{ query.title }}</h3>
                                    <p class="wrapping">{{ query.description|truncatechars:200 }}</p>
                                    <div class="trainer d-flex justify-content-between align-items-center">
                                        <div class="trainer-profile d-flex align-items-center">
                                            <div class="price text-success"><h5 class="mt-4">{{ query.suShells }} sushells</h5></div>
                                        </div>
                                        <div class="trainer-rank d-flex align-items-center">
                                            <a href="{% url 'cart' id=query.id %}" class="btn btn-danger text-white btn-sm">Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}<!-- End Course Item-->
                </div>

            </div>
        </section>


    </main><!-- End #main -->

{% endblock content %}